<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmh.knigolyub">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Knigolyub">
        <activity
            android:name=".ui.activities.ReaderActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SignUpStudent"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SignUpTeacher"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SignUp"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Login"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/ParseAPI" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/applicationID" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/clientKey" />
    </application>

</manifest>